flows.json
[{"id":"834aded.22d282","type":"ui_form","z":"58377875.ff7c78","name":"","label":"","group":"1199fc18.49f594","order":0,"width":0,"height":0,"options":[{"label":"gender","value":"ge","type":"text","required":true,"rows":null},{"label":"race/ethnicity","value":"re","type":"text","required":true,"rows":null},{"label":"parental levl of education","value":"pe","type":"text","required":true,"rows":null},{"label":"lunch","value":"lun","type":"text","required":true,"rows":null},{"label":"test preparation course","value":"tpc","type":"text","required":true,"rows":null},{"label":"reading score","value":"rs","type":"number","required":true,"rows":null},{"label":"writing score","value":"ws","type":"number","required":true,"rows":null}],"formValue":{"ge":"","re":"","pe":"","lun":"","tpc":"","rs":"","ws":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":100,"y":220,"wires":[["89aead78.bf292"]]},{"id":"3dbe71b5.26472e","type":"inject","z":"58377875.ff7c78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":140,"wires":[["89aead78.bf292"]]},{"id":"89aead78.bf292","type":"function","z":"58377875.ff7c78","name":"","func":"global.set(\"ge\",msg.payload.ge)\nglobal.set(\"re\",msg.payload.re)\nglobal.set(\"pe\",msg.payload.pe)\nglobal.set(\"lun\",msg.payload.lun)\nglobal.set(\"tpc\",msg.payload.tpc)\nglobal.set(\"rs\",msg.payload.rs)\nglobal.set(\"ws\",msg.payload.ws)\nvar apikey=\"H-PilcxeiSnx-SSl_0Y4VrqSSdkwmzrK9f0IEDea7lGm\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":180,"wires":[["4d3903f3.05d11c"]]},{"id":"4d3903f3.05d11c","type":"http request","z":"58377875.ff7c78","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":440,"y":240,"wires":[["bbbbb6fe.9d3898"]]},{"id":"bbbbb6fe.9d3898","type":"function","z":"58377875.ff7c78","name":"","func":"var ge = global.get('ge')\nvar re = global.get('re')\nvar pe = global.get('pe')\nvar lun = global.get('lun')\nvar tpc = global.get('tpc')\nvar rs = global.get('rs')\nvar ws = global.get('ws')\nvar token=msg.payload.access_token\nvar instance_id=\"84027fb5-e79e-486d-be50-f59883f6870a\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"gender\", \"race/ethnicity\", \"parental level of education\", \"lunch\", \"test preparation course\",\"reading score\", \"writing score\"], \"values\": [[ge,re,pe,lun,tpc,rs,ws]]}]}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":180,"wires":[["44bc1f65.38e5e"]]},{"id":"44bc1f65.38e5e","type":"http request","z":"58377875.ff7c78","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/201412fe-c501-4eae-ac9a-1d00c8b39ea1/predictions","tls":"","persist":false,"proxy":"","authType":"","x":680,"y":260,"wires":[["af9adedf.be201"]]},{"id":"84907cf7.aac57","type":"debug","z":"58377875.ff7c78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":180,"wires":[]},{"id":"af9adedf.be201","type":"function","z":"58377875.ff7c78","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":140,"wires":[["181aba67.080106","84907cf7.aac57"]]},{"id":"181aba67.080106","type":"ui_text","z":"58377875.ff7c78","group":"1199fc18.49f594","order":1,"width":0,"height":0,"name":"","label":"GRADE","format":"{{msg.payload}}","layout":"row-spread","x":880,"y":300,"wires":[]},{"id":"1199fc18.49f594","type":"ui_group","z":"","name":"Student performance Analysis","tab":"efb8ad4c.3c634","order":1,"disp":true,"width":"6","collapse":false},{"id":"efb8ad4c.3c634","type":"ui_tab","z":"","name":"Home ","icon":"dashboard","disabled":false,"hidden":false}]